services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: general-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - ecommerce-network

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: general-broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://general:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - ecommerce-network

  cart-service:
    image: y0ncha/eda-producer:2.0.0
    container_name: cart-service
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      KAFKA_BOOTSTRAP_SERVERS: general:29092
      KAFKA_TOPIC: orders
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_MTA_EDA_PRODUCER: DEBUG
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/cart-service/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
